In [18]:
import pandas as pd
import numpy as np

In [12]:
pd.DataFrame({'id': [100, 101, 102], 'color': ['red', 'blue', 'red']})

    id color
0  100   red
1  101  blue
2  102   red

In [13]:
# columns is used to specify/ensure columns order, becouse pandas does not guarantee the order
pd.DataFrame({'id': [100, 101, 102], 'color': ['red', 'blue', 'red']}, columns=['id', 'color'])

  color   id
0   red  100
1  blue  101
2   red  102

In [35]:
df = pd.DataFrame({'id': [100, 101, 102], 'color': ['red', 'blue', 'red']}, columns=['color', 'id'],
             index=['a', 'b', 'c'])
df

  color   id
a   red  100
b  blue  101
c   red  102

In [16]:
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']])

     0     1
0  100   red
1  101  blue
2  102   red

In [36]:
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']], columns=['id', 'color'])

    id color
0  100   red
1  101  blue
2  102   red

In [20]:
arr = np.random.rand(4, 2)
arr

array([[0.54676367, 0.723007  ],
       [0.971017  , 0.42413452],
       [0.04461716, 0.40436775],
       [0.07959749, 0.67396918]])

In [21]:
pd.DataFrame(arr, columns=['A', 'B'])

          A         B
0  0.546764  0.723007
1  0.971017  0.424135
2  0.044617  0.404368
3  0.079597  0.673969

In [28]:
pd.DataFrame({'student': np.arange(100, 110, 1), 'test': np.random.randint(60, 101, 10)})

   student  test
0      100    64
1      101    64
2      102    89
3      103    92
4      104    66
5      105    96
6      106    87
7      107    77
8      108    81
9      109    66

In [33]:
s = pd.Series(['round', 'square'], index=['c', 'b'], name='shape')
s

c     round
b    square
Name: shape, dtype: object

In [37]:
pd.concat([df, s], axis=1)

  color   id   shape
a   red  100     NaN
b  blue  101  square
c   red  102   round