In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [4]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [5]:
ufo = pd.read_csv('http://bit.ly/uforeports', usecols=[0, 3, 4])

In [6]:
ufo.columns

Index(['City', 'State', 'Time'], dtype='object')

In [7]:
ufo = pd.read_csv('http://bit.ly/uforeports', nrows=3)

In [8]:
ufo.head()

          City  Colors Reported Shape Reported State             Time
0       Ithaca              NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro              NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke              NaN           OVAL    CO  2/15/1931 14:00