In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [3]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [4]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [5]:
ufo.rename(columns = {'Colors Reported': 'Colors_Reported'}, inplace=True)

In [6]:
ufo.columns

Index(['City', 'Colors_Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [7]:
ufo_cols = ['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time']
ufo.columns = ufo_cols

In [8]:
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

In [9]:
ufo = pd.read_csv('http://bit.ly/uforeports', names=ufo_cols)

In [10]:
ufo.head()

          City  Colors_Reported  Shape_Reported  State             Time
0         City  Colors Reported  Shape Reported  State             Time
1       Ithaca              NaN        TRIANGLE     NY   6/1/1930 22:00
2  Willingboro              NaN           OTHER     NJ  6/30/1930 20:00
3      Holyoke              NaN            OVAL     CO  2/15/1931 14:00
4      Abilene              NaN            DISK     KS   6/1/1931 13:00

In [11]:
ufo = pd.read_csv('http://bit.ly/uforeports', names=ufo_cols, header=0)

In [12]:
ufo.head()

                   City Colors_Reported Shape_Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [13]:
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

In [16]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [17]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [18]:
ufo.columns = ufo.columns.str.replace(' ', '_')

In [19]:
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')